<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>840409372969-k087ngidmeevco73em1drbrjt970h36h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.840409372969-k087ngidmeevco73em1drbrjt970h36h</string>
	<key>API_KEY</key>
	<string>AIzaSyA9NNt9PuamPaWc5H9B0oP1YYuKpLgPTD4</string>
	<key>GCM_SENDER_ID</key>
	<string>840409372969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zuzuPre.ios</string>
	<key>PROJECT_ID</key>
	<string>zuzu-3123d</string>
	<key>STORAGE_BUCKET</key>
	<string>zuzu-3123d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:840409372969:ios:b5c3fd91ce29234b</string>
	<key>DATABASE_URL</key>
	<string>https://zuzu-3123d.firebaseio.com</string>
</dict>
</plist>